body {
  font-family: Helvetica;
  color:white;
  background-color:#007cba;
  padding-top:5%;
}

#home, #documentLink, #thanks {
  padding-left: 2%;
}

.subtitle {
  padding-left: 2%;
  padding-top: 10%;
  /* padding-bottom: 10%; */
  font-size: 40px;
  font-style: italic;
}

.text {
  font-size: 35px;
  font-style: oblique;
  margin-right: 2%;
}

#postscript {
  padding-top: 10%;
  padding-left: 2%;
  font-size: 18px;
  width:50%;
  /* display:none; */
}

.section, .text, #documentLink, #thanks {
  display:none;
}

.title {
  font-weight:800;
  font-size:60px;
}

#s1 {
  padding-left: 5%;
}

#s2 {
  padding-left: 10%;
}

#s3 {
  padding-left:15%;
}

#s4 {
  padding-left: 20%;
}

#s5 {
  padding-left: 25%;
}

#s6 {
  padding-left: 30%;
}

#s7 {
  padding-left: 35%;
}

/* #next {
  padding-left: 90%;
} */

#homeButton {
  display:none;
}

.button {
  position:fixed;
  bottom:5%;
  right:2%;
  background-color: #00ba9b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.button:hover {
  background-color: #006f5d;
  border: 1px solid #00ba9b;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 600;
  color:#7cba00;
}

a:hover {
  background-color: #e4f1cc;
  color:#639400;
  text-decoration: line-through;
}
